body 
{
    margin-top: 0;
    text-align: center;
    background-color: #000000;
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
}
#Showtimedate 
{
    color: #e63939;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 
{
    font-family:  Geneva, Tahoma, sans-serif;
    font-size: 70px;
    color: bisque;
}

h3 
{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;

}


table, tr, td
{
    margin-right:  350px;
    margin-left: 350px;
    border: 1px solid rgb(217, 203, 190);
    border-collapse: collapse;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 45%;
   
}


strong 
{ 
    color: #e63939;
}

h2:hover 
{
    color: #ffb060; 
    cursor: pointer;
    transition: 0.3s;
}

.P_cast {
    font-family: 'Times New Roman', Times, serif;
}

img 
{
    width: 100%;
    height: 575px; 
    overflow: hidden;
}

#sub_title 
{
    text-align: center;
    text-decoration: underline;
    text-decoration-color: antiquewhite;
}